{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %} {% endblock %}</title>
  <link rel="icon" href="{% static 'logo.png' %}" type="image/x-icon">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

   
  <!-- Tu estilo personalizado -->
  <style>
    /* Agrega tus estilos personalizados aquí */
    body {
      padding-top: 45px; /* Ajusta el espacio para la barra de navegación fija */
    }
  </style>
</head>
<body class="bg-light">

  <!-- Barra de navegación -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="/home/"
    ><img src="{% static 'logo.png' %}" alt="">FitEduX</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {% if request.path == '/home/' %}active{% endif %}">
          <a class="nav-link" href="/home/"><i class="fa fa-home "></i> Inicio</a>
        </li>
        <li class="nav-item {% if request.path == '/saberes/' %}active{% endif %}">
          <a class="nav-link" href="/saberes/"><i class="fa fa-bullhorn "></i> Saberes</a>
        </li>
        <li class="nav-item {% if request.path == '/estadisticas/' %}active{% endif %}">
          <a class="nav-link" href="/multimedia/"><i class="fa fa-linux "></i> multimedia</a>
        </li>
      </li>
      <li class="nav-item {% if request.path == '/admin/' %}active{% endif %}">
        <a class="nav-link" href="/admin/"> <i class="fa fa-lock "></i> Administrar</a>
      </li>
    </li>
    <li class="nav-item {% if request.path == '/formulario/' %}active{% endif %}">
      <a class="nav-link" href="/formulario/"> <i class="fa fa-envelope"></i> Contactanos</a>
    </li>
    </div>
  </nav>

  {% block content %} {% endblock %}

  <!-- Pie de página -->
  <footer class="footer bg-info text-white text-center py-1">
    <section class="buttons">
      <p>&copy; 2024 FitEduX.cu

    <a href="#destino" class="fa fa-instagram "></a>
    <a href="https://pctecnology.pythonanywhere.com/services/" class="fa fa-facebook"></a>
    <a href="https://pctecnology.pythonanywhere.com/services/" class="fa fa-youtube bg-danger "></a>
    <a href="https://wa.me/59240990?text=Hola%20Necesito%20de%20sus%20servicios%20PCTecnology" class="fa fa-whatsapp bg-success"></a>


</section>
    </p>
  </footer>

  <!-- Bootstrap JS y dependencias -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <!-- Tu script JavaScript para resaltar enlaces -->
  <script>
    // Obten la URL actual
    var currentUrl = window.location.href;

    // Itera sobre los enlaces de la barra de navegación y resalta el enlace correspondiente
    document.querySelectorAll('.navbar-nav a').forEach(function (link) {
      if (link.href === currentUrl) {
        link.parentElement.classList.add('active');
      }
    });
  </script>
</body>
</html>

